In [1]:
a = input()
def fun(number):
    for x in range(len(a)//2):
        if a[x] == a[-(x+1)]:
            continue
        else:
           return 'no'
 
if fun(a) == 'no':
    print('no')
else:
    print('yes')

23456
no

In [2]:
x = [18, 18, 19, 19, 24, 23, 22, 22, 21, 20, 19, 22, 23, 24, 24]
y = [25, 28, 30, 29, 28, 27, 27, 25, 26, 25, 26, 27, 24]
z = [31, 33, 32, 32, 32, 34, 34, 35, 36, 35, 36, 37, 30, 30]
lst = x + y + z
print('托儿所儿童平均月龄为{:.2f}'.format(sum(lst)/len(lst)))
print(f'托儿所的最大月龄为{max(lst)}')
print(f'托儿所的最小月龄为{min(lst)}')
print(f'月龄为30的儿童有{lst.count(30)}个')

托儿所儿童平均月龄为26.95
托儿所的最大月龄为37
托儿所的最小月龄为18
月龄为30的儿童有3个

In [3]:
x = max(lst)
lst.remove(x)
y = max(lst)
lst.remove(y)
z = max(lst)
print(f'月龄最大的三个儿童的月龄分别是{x, y, z}')

月龄最大的三个儿童的月龄分别是(37, 36, 36)

In [4]:
a = int(input())
 
for x in range(1,a+1):
    print(' '*(a-x) + '+'*(2*x-1))

9
        +
       +++
      +++++
     +++++++
    +++++++++
   +++++++++++
  +++++++++++++
 +++++++++++++++
+++++++++++++++++

In [2]:
total=0
for i in range(1,5):
    for j in range(1,5):
        for k in range(1,5):
            if ((i!=j)and(j!=k)and(k!=i)):
                print(i,j,k)
                total+=1
print(total)

1 2 3
1 2 4
1 3 2
1 3 4
1 4 2
1 4 3
2 1 3
2 1 4
2 3 1
2 3 4
2 4 1
2 4 3
3 1 2
3 1 4
3 2 1
3 2 4
3 4 1
3 4 2
4 1 2
4 1 3
4 2 1
4 2 3
4 3 1
4 3 2
24